<footer class="text-lg-start">
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer">
      <div id="ds-footer">
        <a href="#" id="ds-logo-link">
          <img src="/src/assets/images/dspace-logo-mini.svg" alt="VinUni Logo" />
        </a>
        
        <p>
          Vin University Library <br>
          3 Kieu Ky, Da Ton, Gia Lam <br>
          Vinhomes Oceanpark, Ha Noi, Viet Nam <br>
          Phone: +84-2471-089-779 | 1800-8189 <br>
          Contact: library@vinuni.edu.vn <br>
          <a href="https://library.vinuni.edu.vn/">Contact Us</a>
        </p>
    </div>
  </div>
  <!-- Copyright -->
</footer>
