:host {
  footer {
    background-color: var(--ds-footer-bg);
    z-index: var(--ds-footer-z-index);
    border-top: var(--ds-footer-border);
    padding: var(--ds-footer-padding);

    p {
      margin: 0;
    }

    div>img {
      height: var(--ds-footer-logo-height);
    }


    // .top-footer {
    //   background-color: var(--ds-top-footer-bg);
    //   padding: var(--ds-footer-padding);
    //   margin: calc(var(--ds-footer-padding) * -1);
    // }

    .bottom-footer {
      position: relative;
      // margin-top: 10px;
      // margin-bottom: 20px;
      height: 100%;
      text-align: right;
      width: 99%;
      color: white;

      div#ds-footer p {
        width: 100%;
        // top: -8px;
        right: 0px;
        text-align: right;
        // padding: 5px;
        font-size: smaller;
      }
    }
  }
}