<div id="ds-main">
    <div id="ds-body">

      <h2>Project Team Members</h2>

      <h3>Project Manager</h3>
      <p>Tony Tin</p>

      <h3>Content Developer</h3>
      <p>Phan Thuy Trang</p>

      <h3>Web Developer</h3>
      <ul>
        <li>Nguyen Minh Tuan</li>
        <li>Phan Tuan Khoi</li>
        <li>Vu Truong Giang</li>
        <li>Nguyen Thai Hung</li>
      </ul>

      <h3>Graphic Design</h3>
      <p>Bui Vu Hai Yen</p>

      <h3>Library Support</h3>
      <ul>
        <li>Mr. Ngueyen Van Kep</li>
        <li>Ms. Ha To Tam</li>
        <li>Mr. Nguyen Thanh Hao</li>
      </ul>

    </div>
    <div id="ds-options">
      <h3 class="ds-option-set-head" id="ds-search-option-head">Search VinSpace</h3>
      <div class="ds-option-set" id="ds-search-option">
        <ds-search-form [inPlaceSearch]="false"
          [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
      </div>
      <h3 class="ds-option-set-head">Browse</h3>
      <div id="ds-option-set" class="ds-option-set">
        <li><a routerLink="/browse/title">Browse by Title</a></li>
        <li><a routerLink="/browse/dateissued">Browse by Date</a></li>
        <li><a routerLink="/browse/author">Browse by Author</a></li>
        <li><a routerLink="/community-list">Browse by Community</a></li>
      </div>
      <h3 class="ds-option-set-head">Policy</h3>
      <div id="ds-option-set" class="ds-option-set">
        <li><a href="https://policy.vinuni.edu.vn/all-policies/regulations-for-research-activity-management/">VinUni Research Policy</a></li>
        <li><a href="https://library.vinuni.edu.vn/">VinUni library</a></li>
      </div>
      <h3 class="ds-option-set-head">My Account</h3>
      <div id="ds-option-set" class="ds-option-set">
        <a routerLink="/login" id="login">Login</a>
      </div>
      <h3 class="ds-option-set-head" id="ds-about-option">About and FAQ</h3>
      <div class="ds-option-set" id="ds-option-set">
          <li><a routerLink="/about" id="route-options">About</a></li>
          <li><a routerLink="/faq" id="route-options">FAQ</a></li>
          <li><a routerLink="/teammember" id="route-options">Team Member</a></li>   
      </div>
    </div>
    
</div>
