<div class="background-image-container">
  <div class="container">
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpeg" srcset="assets/dspace/images/banner.jpeg 2000w, assets/dspace/images/banner-half.jpeg 1200w, assets/dspace/images/banner-tall.jpeg 768w">
    <!-- <source type="image/webp" srcset="assets/dspace/images/vinspace.webp 2000w">
    <source type="image/jpeg" srcset="assets/dspace/images/vinspace.jpeg 2000w"> -->
    <img alt="" [src]="'assets/dspace/images/VinSpace.png'"/>
  </picture>
  <!--<small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>-->
</div>
