<div class="background-image-container">
  <div class="container">
    <!-- <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">DSpace 7</h1>
          <p class="lead">DSpace is the world leading open source repository platform that enables
            organisations to:</p>
        </div>
      </div>
    </div> -->
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/vinspace.webp 2000w, assets/dspace/images/tallvinspace.webp 1200w, assets/dspace/images/fullvinspace.webp 768w">
    <source type="image/jpeg" srcset="assets/dspace/images/vinspace.jpeg 2000w, assets/dspace/images/tallvinspace.jpeg 1200w, assets/dspace/images/fullvinspace.jpeg 768w">
    <!-- <source type="image/webp" srcset="assets/dspace/images/vinspace.webp 2000w">
    <source type="image/jpeg" srcset="assets/dspace/images/vinspace.jpeg 2000w"> -->
    <img alt="" [src]="'assets/dspace/images/VinSpace.png'"/>
  </picture>
</div>
