<ds-themed-home-news></ds-themed-home-news>
<!-- <div id="ds-header">
  <a class="ds-header-title">VinSpace</a>
</div> -->
<div id="ds-main">
  <div id="ds-body">
    <ng-container *ngIf="(site$ | async) as site">
      <ds-view-tracker [object]="site"></ds-view-tracker>
    </ng-container>
    <h1 class="ds-option-set-head" id="ds-search-option-head">WELCOME TO VinSPACE</h1>
    <!-- <p>Vinspace is an open access repository provided by VinUni Library for scholarly research produced by members of
      the VinUniversity community.</p>

    <h2> What is Open Access?</h2>
    Open Access is a method of scholarly publishing which is available online free to the user. Open Access users may
    freely copy, distribute and used with proper attribution

    Open Access is not:
    Cost free or cheaper than traditional scholarly communication
    Lower quality than other methods of scholarly communication
    Free to producers or free of rights
    Inconsistent with peer review

    <h2> What are the benefits of VinSpace for researchers and institution? </h2>
     Benefits For Researchers
    More Exposure to your research: By publishing in a journal, your research is available only to people who subscribe
    to that journal or have access to a library that subscribes to that journal. By publishing your research in an
    institutional repository, you make it available to anyone who is interested. Open Access breaks down the barriers in
    research accessibility between rich countries and Poor countries.

    Higher research impact: Studies show that items published in an open access repository are often cited much more
    frequently than items published using traditional methods.

    Easier Compliance with Open Access Mandates: Allows compliance with funding agencies such that have Open Access
    Policies

    More Discoverability: Open access articles are fully searchable by search engines such as Google and Google Scholar.

    Persistent Access: Items in VinSpace are given a persistent URL that will not break. This means you can cite your
    item and not worry about the link changing in the future.

    Long Term preservation: The library will take care of preserving your item and updating the format when necessary.


    Benefits for Renison University College:
    More exposure for our institution: By publishing in an institutional repository you can potentially make the
    research created by our institution available to a greater range of people. By collecting all of the University
    Colleges research in one place, an institutional repository has the potential to give a more complete picture of our
    research output. This can help give a more complete picture of our research output to potential students, faculty
    members and donors. This can also help faculty in administrative roles evaluate the the research quality of
    different departments and colleges.
    <p>Please check if your publisher allows self-archiving at <a
        href="https://v2.sherpa.ac.uk/romeo/">SHERPA/RoMEo's</a> publisher copyright policies</p>
    <h1 class="ds-option-set-head" id="ds-search-option-head">Frequently Asked Question</h1>
    <h2> Who may deposit work into RSpace: </h2>
    A: Faculty members (current, emeritus, and retired), researchers, librarians, archivists, and staff members of
    VinUniversity may deposit appropriate materials in VinSpace. Retrospective deposits of materials published or
    created before the authors joined Renison are permitted as long as the authors are currently affiliated with VinUni.
    Retrospective deposits of materials by authors who are no longer affiliated with VinUni are acceptable as long as
    the materials to be deposited were published or created by the authors during their tenures at VinUni.
    <h2> Q: Am I allowed to deposit my work into VinSpace?</h2>
    A: That depends on whether your work that has already been published or not. If it has not been published, you are
    automatically the copyright holder as the creator of the work. If your work has been published, your ability to
    publish is based on the agreement you made with the publisher of the book or journal you have published in. If you
    want to check some the publishing agreement you can try to search for the journal in Sherpa/Romeo. If you cannot
    find any information about your journal or still have questions, please contact the Library.

    <h2> Q: What types of works are acceptable to publish in VinSpace:</h2>
    A: Any scholarly, artistic, or research oriented work produced by any faculty or staff member of VinUniversity.
    Types of items accepted include: learning objects, articles, technical reports, working papers, conference papers,
    research centre archives, e-portfolios, academic research, and more.

    <h2>Q: What rights will the VinUniversity have if I decide to deposit my work in VinSpace?</h2>
    A: You give the VinUniversity Library the non-exclusive rights to reproduce, distribute, and convert the format of
    the item for preservation purposes. You do NOT transfer copyright to the College.

    <h2> Q: Can I decide what users may or may not do with my work?</h2>
    A: Yes! We recommend that you license your work with creative commons. Use their handy license selector tools to
    decide how to license your work.

    Adapted from UWSpace, AUSpace, Scholars Commons @ Laurier, Scholarship@Western

    <h1>Policy</h1>
    <h2> Please link to Research Activity Management - VinUni Policy, 9.1. Openness in Research.</h2>
    VinUni library

    <h2> Please link to VinUni library: Library - VinUniversity </h2>
    <h1> Project Team member </h1>

    <h2> Project Manager </h2>
    <li> Tony Tin</li>
    <h2> Content Developer </h2>
    <li> Phan Thuy Trang</li>
    <h2> Web Developer </h2>
    <li> Nguyen Minh Tuan</li>
    <li> Vu Truong Giang</li>
    <li> Nguyen Thai Hung</li>
    <li> Phan Tuan Khoi</li>
    <h2> Graphic Design</h2>
    <li> Bui Vu Hai Yen</li>
    <h2> Library support</h2>
    <li> Mr. Ngueyen Van Kep</li>
    <li> Ms. Ha To Tam</li>
    <li> Mr. Nguyen Thanh Hao</li> -->
   <h1 class="ds-option-set-head" id="ds-search-option-head">Community in VinSpace</h1>
    <ds-top-level-community-list>
    </ds-top-level-community-list>
    <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list>

  </div>

  <div id="ds-options">
    <h3 class="ds-option-set-head" id="ds-search-option-head">Search VinSpace</h3>
    <div class="ds-option-set" id="ds-search-option">
      <ds-search-form [inPlaceSearch]="false"
        [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
    </div>
    <h3 class="ds-option-set-head">Browse</h3>
    <div id="aspect_viewArtifacts_Navigation_list_browse" class="ds-option-set">\
      <li>
        <a routerLink="/browse/title">Browse by Title</a>
      </li>
      <li>
        <a routerLink="/browse/date">Browse by Date</a>
      </li>
    </div>
    <h3 class="ds-option-set-head">My Account</h3>
    <div id="aspect_viewArtifacts_Navigation_list_account" class="ds-option-set">

    </div>
    <h3 class="ds-option-set-head">Policy</h3>
    <div id="aspect_discovery_Navigation_list_discovery" class="ds-option-set">

    </div>

    <h3 class="ds-option-set-head" id="ds-about-option">
      About and FAQ
    </h3>
    <div class="ds-option-set" id="ds-about-option">

    </div>
  </div>


</div>